@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
 


.img_bg_header_03 {
    background-image: url('../../../../../build/images/App/04-foto-head.webp');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.text_menu {
    
    transition: ease-in .3s;
    font-family: "Playfair Display", serif;

}

.text_menu:hover::after {
    height: 2px;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000;
}

.span__text {

    font-family: "Playfair Display", serif;

}

