


.img_bg_header_04 {
    background-image: url('https://images.unsplash.com/photo-1551001626-86e913f8baf7?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text__span {

    font-family: "Playfair Display", serif;
    font-size: 10px;

}

.HeaderVideo04 {


}