


.img_bg_header_04 {
    background-image: url('../../../../../build/images/App/bg_header_04.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text__span {

    font-family: "Playfair Display", serif;
    font-size: 10px;

}

.HeaderVideo04 {


}